{% extends 'base.html' %}

{% block title %}
    <title>Нова стаття- LogikaBlog</title>
{% endblock title %}

{% block content %}
  <main class="container py-5">
    
    <h1 class="text-center mb-5">Нова стаття</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="articleTitle" class="form-label">Назва статті</label>
            <input required name="title" type="text" class="form-control" id="articleTitle" placeholder="Введіть назву">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Текст статті</label>
            <textarea  required name="content" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Прикріпіть зображення для статті</label>
            <input required name="image" class="form-control" type="file" id="formFile">
        </div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Виберіть категорію</option>
            {% for category in categories %}
                <option value="{{category[0]}}">{{category[1]}}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-lg btn-primary mt-4 mb-5">Зберегти</button>
    </form>

    
  </main>
{% endblock content %}
